<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="de.sebthom.eclipse.previewer Build Target">
   <locations>

      <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
         <repository location="https://download.eclipse.org/cbi/updates/license"/>
         <unit id="org.eclipse.license.feature.group" version="0.0.0"/>
      </location>

      <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
         <!-- Eclipse 2022-09 aka 4.25 is the first release requiring JRE 17 https://wiki.eclipse.org/Eclipse/Installation#Eclipse_4.25_.282022-09.29 -->
         <repository location="https://download.eclipse.org/releases/2022-09/"/>
         <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
         <unit id="org.eclipse.sdk.ide" version="0.0.0"/>
      </location>

      <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
         <repository location="https://download.eclipse.org/eclipse/updates/4.25/"/>
         <unit id="org.eclipse.test.feature.group" version="0.0.0"/>
      </location>

      <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
         <repository location="https://raw.githubusercontent.com/sebthom/eclipse-commons/updatesite/"/>
         <unit id="de.sebthom.eclipse.commons.feature.feature.group" version="0.0.0"/>
      </location>

      <location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="false" missingManifest="generate" type="Maven">
         <dependencies>
            <dependency>
               <groupId>net.sourceforge.plantuml</groupId>
               <artifactId>plantuml-mit</artifactId>
               <version>1.2025.8</version>
               <type>jar</type>
            </dependency>
         </dependencies>
         <instructions><![CDATA[
Bundle-Name:           Bundle derived from maven artifact ${mvnGroupId}:${mvnArtifactId}:${mvnVersion}
version:               ${version_cleanup;${mvnVersion}}
Bundle-SymbolicName:   ${mvnGroupId}.${mvnArtifactId}
Bundle-Version:        ${version}
Import-Package:        *;resolution:=optional
Export-Package:        *;version="${version}";-noimport:=true
DynamicImport-Package: *
]]></instructions>
      </location>

      <location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="false" missingManifest="generate" type="Maven">
         <dependencies>
            <dependency>
               <groupId>org.commonmark</groupId>
               <artifactId>commonmark</artifactId>
               <version>0.27.0</version>
               <type>jar</type>
            </dependency>
         </dependencies>
         <instructions><![CDATA[
Bundle-Name:           Bundle derived from maven artifact ${mvnGroupId}:${mvnArtifactId}:${mvnVersion}
version:               ${version_cleanup;${mvnVersion}}
Bundle-SymbolicName:   org.commonmark.${mvnArtifactId}
Bundle-Version:        ${version}
Import-Package:        *;resolution:=optional
Export-Package:        *;version="${version}";-noimport:=true
DynamicImport-Package: *
]]></instructions>
      </location>

      <location includeDependencyDepth="direct" includeDependencyScopes="compile" includeSource="false" missingManifest="generate" type="Maven">
         <dependencies>
            <dependency>
               <groupId>org.commonmark</groupId>
               <artifactId>commonmark-ext-autolink</artifactId>
               <version>0.27.0</version>
               <type>jar</type>
            </dependency>
            <dependency>
               <groupId>org.commonmark</groupId>
               <artifactId>commonmark-ext-footnotes</artifactId>
               <version>0.27.0</version>
               <type>jar</type>
            </dependency>
            <dependency>
               <groupId>org.commonmark</groupId>
               <artifactId>commonmark-ext-gfm-strikethrough</artifactId>
               <version>0.27.0</version>
              <type>jar</type>
            </dependency>
            <dependency>
               <groupId>org.commonmark</groupId>
               <artifactId>commonmark-ext-gfm-tables</artifactId>
               <version>0.27.0</version>
               <type>jar</type>
            </dependency>
            <dependency>
               <groupId>org.commonmark</groupId>
               <artifactId>commonmark-ext-heading-anchor</artifactId>
               <version>0.27.0</version>
               <type>jar</type>
            </dependency>
            <dependency>
               <groupId>org.commonmark</groupId>
               <artifactId>commonmark-ext-image-attributes</artifactId>
               <version>0.27.0</version>
               <type>jar</type>
            </dependency>
            <dependency>
               <groupId>org.commonmark</groupId>
               <artifactId>commonmark-ext-ins</artifactId>
               <version>0.27.0</version>
               <type>jar</type>
            </dependency>
            <dependency>
               <groupId>org.commonmark</groupId>
               <artifactId>commonmark-ext-task-list-items</artifactId>
               <version>0.27.0</version>
               <type>jar</type>
            </dependency>
            <dependency>
               <groupId>org.commonmark</groupId>
               <artifactId>commonmark-ext-yaml-front-matter</artifactId>
               <version>0.27.0</version>
               <type>jar</type>
            </dependency>
         </dependencies>
      </location>

   </locations>

   <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
</target>