<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- ===================================== -->
   <!-- Preferences                           -->
   <!-- ===================================== -->
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="de.sebthom.eclipse.previewer.plantuml.prefs.PluginPreferences$Initializer" />
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <page id="de.sebthom.eclipse.previewer.plantuml.prefs.PluginPreferencePage"
         name="%PreferencePageName"
         class="de.sebthom.eclipse.previewer.plantuml.prefs.PluginPreferencePage" category="de.sebthom.eclipse.previewer.prefs.PluginPreferencePage" />
   </extension>

   <!-- ===================================== -->
   <!-- Renderers                             -->
   <!-- ===================================== -->
   <extension point="de.sebthom.eclipse.previewer.renderers">
      <htmlPreviewRenderer class="de.sebthom.eclipse.previewer.plantuml.PlantUmlHtmlPreviewRenderer" file-extensions="iuml,pu,puml,plantuml" />
   </extension>

</plugin>
